---
building: "{{ building }}" 
super_environment: dev
nerc_flag: no     # yes on ESP nodes
nerc_classification: none
dnts_flag: no     # testems cluster will be yes>
soc1_flag: no     # might be yes for ESP?
business_application: sdt - openshift
business_service: openshift container platform
business_service_code: sdt
business_function: container platform
business_owner: 366 IT Tools Development (mgr)
it_ops_owner: 366 IT Tools Development (mgr)
dev_owner: 366 IT Tools Development (mgr)
test_owner: 366 IT Tools Development (mgr)
monitoring_required: no backup required  #  prod - 24x7 critical
backup_schedule: none
ip_type: host ip

