prtvsdt0002,10.11.13.68 ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBPsVQlH8Dft76s4NKzhGE4YmNsoLkLycIOBqR+o2BvMXxQpiwBEbn58ZdVedyO1F5/A8B45qtfRLgYuScPzFz68=
prtvsdt0003,10.11.13.71 ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBPsVQlH8Dft76s4NKzhGE4YmNsoLkLycIOBqR+o2BvMXxQpiwBEbn58ZdVedyO1F5/A8B45qtfRLgYuScPzFz68=
prtvsdt0004,10.11.13.47 ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBPsVQlH8Dft76s4NKzhGE4YmNsoLkLycIOBqR+o2BvMXxQpiwBEbn58ZdVedyO1F5/A8B45qtfRLgYuScPzFz68=
prtvsdt0005,10.11.13.70 ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBPsVQlH8Dft76s4NKzhGE4YmNsoLkLycIOBqR+o2BvMXxQpiwBEbn58ZdVedyO1F5/A8B45qtfRLgYuScPzFz68=
prtvsdt0006,10.11.13.46 ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBPsVQlH8Dft76s4NKzhGE4YmNsoLkLycIOBqR+o2BvMXxQpiwBEbn58ZdVedyO1F5/A8B45qtfRLgYuScPzFz68=

